.profile{
    display: flex;

}

.profileRight{
    flex: 9;
}
.profilerightButtom{
    display: flex;
}

.profileCover{
    height: 320px;
    position: relative;
}

.ProfilecoveraImg{
        width: 100%;
        height: 250px;
        object-fit: cover;
}

.ProfilecoverImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; 
    top: 150px;
    border: 4px solid white;

}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoname{
    font-size: 30px;
    font-weight: bold;
}

.profileInfdesp{
    font-size: 20px;
    font-weight: 400;
}