.post{
    width: 100%;
    border-radius: 5px;
    background-color: aqua;
    margin: 20px 0px;
}


.postWrapper{
    padding: 20px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopleft{
    display: flex;
    align-items: center;

}

.postImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.postUserName{
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}

.postDate{
    font-size: 14px;
}

.postcenter{
        margin: 20px 0px ;
}

.postCenterImg{
    width: 100%;
    max-height: 500px;
    margin-top: 20px;
    object-fit: contain;

}

.postButtom{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.postButtomleft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.PostLikeCounter{
    font-size: 14px;

}

.postcommentText{
    cursor: pointer;
    border-bottom: 1px solid white;
}